body {
    background-image: linear-gradient(90deg, #07c653, #036d0a);
    font-family: 'Silkscreen';
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 65px;
}

.center {
    display: flex;
    justify-content: center;
}
.title {
    text-align: center;
    font-size: 55px;
    
}

#game-link {
    position: relative;
    text-align: center;
    margin-top: 10rem;
    background-color: #116a17;
    display: block;
    width: 25rem;
    height: 10rem;
    border: 4px solid rgb(184, 184, 184);
    border-radius: 15px;
    line-height: 9rem;
    animation: linkAnimation 2s infinite;
}

#game-link:hover {
    background-image: url('maxresdefault.jpg');
}

@keyframes linkAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(0);
    }
  }