body {
    background-color: black;
}

#game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* filter:opacity(.5); */
}

#player-area {
    display: block;
    background-color: aqua;
    width: 1000px;
    height: 500px;
    position: relative;
}

#floor {
    width: 1000px;
    height: 100px;
    background-color: brown;
}