body {
    background-color: black;
}

#game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-area {
    display: block;
    background-color: aqua;
    width: 1000px;
    height: 500px;
}

#floor {
    width: 1000px;
    height: 100px;
    background-color: brown;
}